body{
    background-color: white;
    font-family: 'Open Sans', 'sans-serif';
    color: #636262;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 400;
    font-size: 20px;
    transition: 0.5s;
    overflow: hidden;
    width: 100px;
    margin: 10px;
    border-radius: 50px;
    padding: 0px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #e33d3d;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #585858
}
.georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic
}
h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2em;
}

h6 {
    font-size: 0.9em
}
p {
    font-size: 0.9em
}
/*
.navbar-light .navbar-nav .nav-link::before{
    content: '';
    position: absolute;
    width: 40px;
    margin-top: 30px;
    border-bottom: 3px solid #e33d3d;
    transition: 0.5s ease-in;
    
}
.navbar-light .navbar-nav .nav-link:hover::before{
    width: 65px;
}
*/
.navbar-collapse{
    margin-right: 100px;
}
.navbar-brand{
    padding-bottom: 10px;
}
.navbar{
    padding: 20px;
}
.home-drop{
    height:50vh;
    background-image: url("../images/bg-image.png");
    background-size: 50% 100%;   
}

.home-drop div {
    display: flex;
    justify-content: center;
    align-items: center
}

.intro{
    text-align: center;
    font-weight: 400;
}

#select-city-modal .modal-content {
    height:auto;
    margin-top: 200px;
    padding: 20px;
}

#select-city-modal .modal-content .row {
    padding: 0 25px;
}

#select-city-modal .modal-content .cities {
    background-color: #e33d3d;
    border-radius: 4px;
    color: #FF0;
    width:  180px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

@media only screen and (max-width: 640px) {
    .intro {
        font-size: 1.8em;
        padding: 0px 1em;
    }
    #select-city-modal .modal-content .cities {
        width: 136px;
    }
}

#below-address {
    display: none;
}

@media screen and (max-width: 768px) {
    #below-address {
        display: block;
    }

    .address {
        display: none;
    }
}

.option-container {
    position: relative;
}

.option-container span {
    font-size: 0.4em;
    top: 110px;
    left: 260px;
    /* background-color: #fff; */
    z-index: 1;
    padding: 0.5em;
}

#city-option {
    border: 2px dashed #e33d3d;
    margin-top: 2em;
    padding: 0.4em 1em;
    max-width: 400px;
    font-size: 0.6em;
    border-radius: 17px;
    color: #e33d3d;
}

#city-option:hover {
    border: 2px solid #ff0;
    color: #ff0;
    background-color: #e33d3d;
    cursor: pointer;
}

.btn-home{
    margin: 20px;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.17);
    border-radius: 0px;
    border: 0px solid #e33d3d;
    color: black;
    box-shadow: 1px 1px 4px black;
}
@media only screen and (min-width: 1200px){
   .drops{
    margin: 90px 0px 140px 40px;
} 
}

.container-fluid {
    padding: 20px 0;
}

.services{
    margin: 30px;
}
.overflow{
    overflow: hidden;
}
/*
.overflow::before{
    padding: 50px;
    margin: 25px;
    content: 'HOUSEWARMING CEREMONY';
    position:absolute;
    width: auto;
    top: 25%;
    height: auto!important;
    background-color: rgba(216, 216, 24, 0.6);

}
*/
.image{
    transition: 0.6s;
    transition-timing-function: ease-in-out;
    
}
.image:hover{
    transform: scale(1.2);
    opacity: 1;
    
}
.service-text{
    border: 2px solid yellow;
    background: #e33d3d;
    color: yellow;
    border-radius: 56px;
    width: 70%;
    transform: translateY(20px);
    opacity: 1;
    position: relative;
    z-index: 2;
    left: 15%;
}
.banner-foot{
    position: relative;
    padding: 20px 10px 10px 10px;
}

.services-banner .banner-foot {
    background-color: #FF0;
    opacity: 0.6;
    top: -56px;
}

.services-banner .banner-foot h6 {
    font-weight: 800;
}
/*
.banneer-foot::before{
    position: relative;
    content: 'jmcdsoijfpokgtr';
    width: 100%;
    height: 100%;
}
*/
.services-banner{
    margin: 10px;
    padding: 25px;
}

.services-image {
    height: 80px;
    width: auto;
    margin-bottom: 5%
}
.btn-home{
    width: 40%;
}

/* #map {
    position: relative;
} */

/* .address{
    background-color: rgba(255, 41, 41, 0.75);
    position: absolute;
    z-index: 3;
    bottom: 6px;
    left: 16px;
    height: 450px;
    width: 380px;
    color: #fff;
    padding: 24px;
    border-bottom-right-radius: 230px;
} */
.address h3{
    color: yellow;
    padding: 20px;
}
.person{
    padding: 10px;
    margin: 10px;
}

hr {
    border: 1px dashed #d8d8d8;
}
@media only screen and (min-width: 768px) {
    #map {
    position: relative;
    }

    .address{
    background-color: rgba(255, 41, 41, 0.75);
    position: absolute;
    z-index: 3;
    bottom: 6px;
    left: 16px;
    height: 450px;
    width: 40vw;
    color: #fff;
    padding: 24px;
    border-bottom-right-radius: 230px;
}